body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	background-color:rgba(173, 173, 173, 0.1);
	display:flex;
	justify-content: center;
}

.game{
	&-header-wrapper {
		display: flex;
		color:darkslateblue;

		@media screen and (max-width: 576px) {
			display: block;
			width: 100%;
		}
		@media (min-width: 576px) and (max-width: 768px) {
			display: block;
			width: 100%;
		}
	}

	&-notification-container {
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		color:darkslateblue;
	}

	&-info {
		&-container {
			margin-top: 20px;
			margin-left: 50px;
			width: 300px;
			font-size: 16px;

			@media screen and (max-width: 768px) {
				text-align: center;
				width: 100%;
				margin-left: 0px;
			}
		}

		&-letter{
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 5px;
		}
	}

	&-rules {
		&-container {
			margin-left: 25px;
			width: 400px;

			@media screen and (max-width: 768px) {
				text-align: center;
				width: 100%;
				margin-left: 0px;
			}
		}

		&-title {
			font-size: 16px;
			font-weight: 700;
		}
	}

	&-board-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 750px;
		height: 750px;

		@media screen and (max-width:576px) {
			width: 375px;
			height: 375px;
		}
		@media (min-width: 576px) and (max-width: 768px) {
			width: 525px;
			height: 525px;
		}
	}

	&-winner-title {
		font-size: 20px;
		font-weight: 700;
		margin-top: 300px;
		text-align: center;

		@media screen and (max-width:576px) {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 50px;

	@media screen and (max-width:576px) {
		height: 25px;
		width: 25px;
		font-size: 18px;
	}
	@media (min-width: 576px) and (max-width: 768px) {
		width: 35px;
		height: 35px;
		font-size: 20px;
	}
}

.square:focus {
	outline: none;
}
